<div class="row">
    <div class="col-6">
        <p>Name: {{user.name}}</p>
    </div>
    <div class="col-6">
        <p>PID: {{user.pid}}</p>
    </div>
    <div class="col-6">
        <p>College: {{user.college}}</p>
    </div>
    <div class="col-6">
        <p>GPA: {{user.gpa}}</p>
    </div>
    <div class="col-6">
        <p>Major: {{user.major}}</p>
    </div>
    <div class="col-6">
        <p>Minor: {{user.minor}}</p>
    </div>
</div>